.app{
  width: 70% auto;
 
  justify-content: center;
  align-items: center;
}

.logos{
  display:flex;
  margin-left:20% ;
  display: inline;
}

.vjit{
  margin-left: -5%;
}

.Hello{
  margin-top:  -29.4%;
  margin-left: 55%;
}


.footer{
  margin-top: 190px;
  background-color: rgb(192, 188, 188);
  color: aliceblue;
  width: 100%;
  /* position: fixed; */
  top:460px;
  
}

p{
  padding-bottom: -5px;
  color: black;
  
}

.headerr{
  margin-left: 40%;
  margin-bottom: -20px;
}

.pf{
  position: fixed;
  background-color: rgb(227, 240, 252);
  width: 100%;
  z-index: 2;
  height: 140px;
 
}

.head{
  margin-left: 20%;
  text-decoration: none;
}

.sizee{
  margin-bottom: 35px;
  
  
}

/* button:hover,
button:focus{
  color: white;
  background-color: rgb(128, 231, 137);
  border: 1px solid grey
} */

.btn:hover{
  background-color: blueviolet
}

.col:hover{
  color: black;
  background-color: rgb(227, 240, 252);
  border: 1px solid grey;
  border-radius: 25px;
  box-shadow: blueviolet;

}


.movement:hover{
  transform: translateY(-20px);
  box-shadow: 0 0 10px 10px rgba(0,0,0,0.4);
  
}

.row{
  margin: 10px;
  
}

h2{
  color: chocolate;
}